version: "3.8"

services:
  backend:
    build: ./backend
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    restart: always


  mongo:
    image: mongo
    ports:
      - "27017:27017"


