apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: yashpatel0296/travel-world-app:01
          ports:
            - containerPort: 4000
          env:
            - name: PORT
              value: "4000"
            - name: MONGO_URL
              value: "mongodb+srv://tirth:12345@cluster0.72ocusv.mongodb.net/tours_booking?retryWrites=true&w=majority&appName=Cluster0"
            - name: JWT_SECRET_KEY
              value: "gahg48589a45ajfjAUFAHHFIhufuu"
